
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="mdi-image-filter-dram"></i><center>About Me</center></div>
      <div class="collapsible-body">

      	<p alight-text="left">
		Hey There! My name is Rick and I currently a Free Agent in the software development field. 
        </p>
        <p>
      	I decided to use some free time to build out the website you are looking at now.  It's using the <b>Materialize</b> front-end framework with <b>Ruby on Rails</b> for the back-end. I wanted something cool and different for my website so I went with something pretty design heavy. Anyway, I included a link at the bottom to download my Resume in a profession PDF format. Don't forget to reach out to me I'm lonely!
         </p>


      </div>
    </li>

  </ul>