
<p align="left">
  <strong>Devry University of Bakersfield</strong> <br> B.S. Networking and Communication
</p>



<p align="left">
Self Study
  <br> Ruby, Ruby on Rails, HTML, CSS, Javascript
</p>

<p align="left">
  <strong>Regional Occupational Center</strong> <br> A+ Certification
</p>
