<h5 class="header col s12 light" id ="education">Education</h5>

<p><br> &nbsp;</p>
 
<p class="title-date">
<span style="float:left"> <strong>Self Study | Ruby, Ruby on Rails, HTML, CSS, Javascript</strong> </span> <span style="float:right"> Present </span>  <br> 
</p>



<p align="left">

   TeamTreeHouse
  <br> CodeSchool
  <br> Michael Hartl's Rails Tutorial
  <br> Personal Projects
</p>


<p class="title-date">
<span style="float:left"> <strong>Devry Univerisity of Bakersfield</strong> </span> <span style="float:right"> January 2014 </span>  <br> 
</p>




<p align="left">
B.S. Networking and Communication
</p>



<p class="title-date">
<span style="float:left"> <strong>Regional Occupational Center</strong> </span> <span style="float:right"> 2008 - 2010 </span>  <br> 
</p>

<p align="left">
A+ Certification
</p>

