<h5 class="header col s12 light" id ="education">Education</h5>

<p><br> &nbsp;</p>
 <!-- SELF STUDY -->
<p class="title-date">
<span style="float:left"> <strong>Self Study | Ruby, Ruby on Rails, HTML, CSS, Javascript</strong> </span> <span style="float:right"> Present </span>  <br> 
</p>



<p align="left">

   TeamTreeHouse
  <br> CodeSchool
  <br> Michael Hartl's Rails Tutorial
  <br> Personal Projects
</p>


<!-- Conferences -->
<p class="title-date">
<span style="float:left"> <strong>Conferences</strong> </span> <span style="float:right"> 2014 - Present </span>  <br> 
</p>




<p align="left">
RailsConf - San Diego<br>
Lightspeed Connect - Austin
</p>

<!-- Devry -->

<p class="title-date">
<span style="float:left"> <strong>Devry Univerisity of Bakersfield</strong> </span> <span style="float:right"> 2010 - 2014 </span>  <br> 
</p>




<p align="left">
B.S. Networking Science and Communication<br>
Management Courses <br>
4.0 GPA
</p>

<!-- ROC -->
<p class="title-date">
<span style="float:left"> <strong>Regional Occupational Center</strong> </span> <span style="float:right"> 2008 - 2010 </span>  <br> 
</p>

<p align="left">
A+ Certification <br>
Internships
</p>

<!-- Highschool -->
<p class="title-date">
<span style="float:left"> <strong>Golden Valley High School</strong> </span> <span style="float:right"> 2006 - 2010 </span>  <br> 
</p>

<p align="left">
4.0 GPA
</p>
