<h5 class="header col s12 light">Education</h5>

<p><br> &nbsp;</p>
  <br><b>Devry University of Bakersfield</b>
<p align="left">
 <br> B.S. Networking and Communication
</p>


<b>Self Study</b>
<p align="left">

  <br> Ruby, Ruby on Rails, HTML, CSS, Javascript
  <br> TeamTreeHouse
  <br> CodeSchool
  <br> Michael Hartl's Rails Tutorial
</p>

  <b>Regional Occupational Center</b>
<p align="left">
 <br> A+ Certification
</p>
