

<p>
    <strong>Lightspeed Systems Inc</strong>
    Feb 2014<strong> </strong>– Mar 2015
</p>
<p>
    <strong>SaaS QA Engineer</strong>
    Bakersfield, CA<strong></strong>
</p>
<ul >
    <li>
        Languages: Ruby | Framework: Rails, Sinatra, Bootstrap
    </li>
    <li>
        Automated Testing: Cucumber BDD
    </li>
    <li>
        Manual Testing: Tablets, Phones, Virtual Machines, and other Supported devices.
    </li>
    <li>
        Bug documentation: Pivotal Tracker, Github
    </li>
    <li>
        Advanced iOS/Android troubleshooting: xCode and Command Inspection.
    </li>
    <li>
        Cloud/AWS troubleshooting.
    </li>
    <li>
        Production Server deployments.
    </li>
    <li>
        Release Note documentation: Internal Wiki, Customer Community Site, Company email lists.
    </li>
    <li>
        Weekly leadership in meetings/SCRUM/Sprint planning discussing current troubleshooting issues.
    </li>
</ul>

