   <h5 class="header col s12 light" id="experience">Experience</h5>

<img src="lightspeed.png" alt="lightspeed" class="lightspeed-logo">


<p align = "center">
    <strong>Lightspeed Systems Inc</strong> <br> 
</p>

<p class="title-date">
<span style="float:left"> <strong>SaaS QA Engineer</strong> </span> <span style="float:right"> Feb 2014 – Mar 2015 </span>  <br> 
</p>

<p align="left">

    As a senior member of the SaaS QA department, 
</p>


<p class="title-date"> <span style="float:left"> <strong>Webfilter QA Engineer </strong></span><span style="float:right"> <strong>June 2013 - Feb 2014</strong> </span> <br></p>

<p align="left">
    During my accelatered workload on the Webfilter team, I dove head first into
</p>

<p class="title-date"><span style="float:left"> <strong>Support Engineer </strong> </span> <span style="float:right"> <strong><strong>Sept 2011 - June 2013</strong></strong> </span> <br> <p>

<p align="left">
    Working directly in Customer Service was something I enjoyed. 
</p>

<img src="xerox.png" alt="lightspeed" class="xerox-logo">

<p align = "center">
    <strong>Affiliated Computer Services </strong> <br> 
</p>



<p class="title-date">  <span style="float:left">  <strong>Wireless Customer Care Assistant </strong> </span> <span style="float:right"> <strong>Feb 2011 – Sept 2011</strong> </span> <br> </p>

<p align="left">
I can honestly say that the experiences while on the phones in a call center were invaluable. 
</p>