  <video width="353" height="230" class="responsive-video" controls>
    <source src="movie.mp4" type="video/mp4">
  </video>

<p align = "center">
    <strong>Lightspeed Systems Inc</strong> <br> Feb 2014– Mar 2015
</p>
<p align="left">
    <strong>SaaS QA Engineer</strong> <br>
    As a senior member of the SaaS QA department, 
</p>



<p> <strong>June 2013 - Feb 2014</strong></p>
<p align="left">
    <strong>Webfilter QA Engineer </strong> <br>
    During my accelatered workload on the Webfilter team, I dove head first into
</p>