<h5 class="center black-text" id = "projects">Professional Projects I've Worked On</h2>

 <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="mdm-logo.png" class="mdm-logo"></h2>
            <h5 class="center">Mobile Manager</h5> 
        
        <!-- Modal Trigger -->
          <center><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Learn More</a></center>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4></h4>
            <p>
              <div class="video-container">
            <p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/TlBB3RM9O3A?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=0&amp;iv_load_policy=3&amp;vq=hd720" frameborder="0" allowfullscreen></iframe></center></p>
              </div>

            </p>
          </div>
          <div class="modal-footer">
            <a href="http://www.lightspeedsystems.com/products/mobile-manager/" class=" modal-action modal-close waves-effect waves-green btn">Website</a>
          </div>
        </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="rocket-logo.png" class="rocket-logo"></h2>
            <h5 class="center">Rocket Webfilter</h5>

        <!-- Modal Trigger -->
          <center><a class="waves-effect waves-light btn modal-trigger" href="#modal3">Learn More</a></center>

        <!-- Modal Structure -->
        <div id="modal3" class="modal">
          <div class="modal-content">
            <h4></h4>
            <p>
              <div class="video-container">
            <p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/tp9vlsP4J2U?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=0&amp;iv_load_policy=3&amp;vq=hd720" frameborder="0" allowfullscreen></iframe></center></p>
          </div>
            </p>
          </div>
          <div class="modal-footer">
            <a href="http://www.lightspeedsystems.com/products/web-filter/" class=" modal-action modal-close waves-effect waves-green btn">Website</a>
          </div>
        </div>
          </div>
          </div>



        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="mybigcampus.png" class="mybigcampus-logo"></h2>
            <h5 class="center">My Big Campus</h5>

        <!-- Modal Trigger -->
          <center><a class="waves-effect waves-light btn modal-trigger" href="#modal2">Learn More</a></center>

        <!-- Modal Structure -->
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4></h4>
            <p>
              <div class="video-container">
            <p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/0_2zgrATWAM?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=0&amp;iv_load_policy=3&amp;vq=hd720" frameborder="0" allowfullscreen></iframe></center></p>
          </div>
            </p>
          </div>
          <div class="modal-footer">
            <a href="http://www.mybigcampus.com/" class=" modal-action modal-close waves-effect waves-green btn">Website</a>
          </div>
        </div>

          </div>
        </div>


        </div>
      </div>

    </div>
  </div>



<!-- 
  15secondtrailers

          <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="15logo.png" class="fif-logo"></h2>
            <h5 class="center">Rocket Webfilter</h5>

            <ul class="light">

          </div>



        </div>
      </div> -->
