
									<!-- CHANGE THIS-->

 <h5 class="center black-text" id = "projects">Professional Projects I've Worked On</h
 <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="mdm-logo.png" class="mdm-logo"></h2>
            <h5 class="center">Mobile Device Manager</h5>

            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="mybigcampus.png" class="mybigcampus-logo"></h2>
            <h5 class="center">My Big Campus</h5>



          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><img src="rocket-logo.png" class="rocket-logo"></h2>
            <h5 class="center">Rocket Webfilter</h5>

            <ul class="light">

          </div>



        </div>
      </div>

    </div>